/* Main container for the toggle */
.toggle-container {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.toggle-label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  color: var(--black);
}

.toggle-label.active {
  color: var(--primary);
}
